@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
*{
	margin: 0px;
	padding: 0px;
}
a{
    text-decoration: 0px;	
}

body{

}
div.header{
	background-image: url(bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	 background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: table;
  margin: 100px auto 0px auto;
  max-width: 500px;
}
h1{
	
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	border-radius: 10px;
	font-size: 72px;
	padding: 100px;
	font-family: 'Pacifico', cursive;
	
}
h1,h2{
    text-align: center;
}

